@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.bg-scissors {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.bg-paper {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.bg-rock {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.bg-lizard {
  background-image: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}
.bg-cyan-grad {
  background-image: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}
.bg-background {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
